<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Users
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button (click)="toggleLiveDemo()" cButton size="sm" color="primary" (click)="clickAddMember()"
            class="me-md-2">Add User</button>
        </div>
      </c-card-header>
      <c-modal size="lg" id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
        <c-modal-header>
          <h5 cModalTitle>Add New User</h5>
          <button (click)="toggleLiveDemo()" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
          <form cForm [formGroup]="userForm">
            <c-row [gutter]="{g: 2}" style="margin-bottom: 10px;">
              <c-col [md]>
                <div cFormFloating>
                  <input formControlName="firstName" cFormControl id="First" type="text" value="Enter First Name" />
                  <label cLabel for="First">First Name</label>
                </div>
              </c-col>
              <c-col [md]>
                <div cFormFloating>
                  <input formControlName="lastName" cFormControl id="Last" type="text" value="Enter Last Name " />
                  <label cLabel for="Last">Last Name</label>
                </div>
              </c-col>
            </c-row>
            <c-row [gutter]="{g: 2}" style="margin-bottom: 10px;">
              <c-col [md]>
                <div cFormFloating>
                  <input formControlName="username" cFormControl id="username" type="text" value="Enter Username" />
                  <label cLabel for="username">Username</label>
                </div>
              </c-col>
              <c-col [md]>
                <div cFormFloating>
                  <input formControlName="email" cFormControl id="email" type="email" value="Enter Email Address" />
                  <label cLabel for="email">Email Address</label>
                </div>
              </c-col>
            </c-row>
            <c-row [gutter]="{g: 2}" style="margin-bottom: 10px;">
              <c-col [md]>
                <div cFormFloating>
                  <input formControlName="password" cFormControl id="password" type="password" value="" />
                  <label cLabel for="password">Password</label>
                </div>
              </c-col>
              <c-col [md]>
                <div cFormFloating>
                  <input formControlName="contactNumber" cFormControl id="number" type="number"
                    value="Enter Contact Number" />
                  <label cLabel for="number">Contact Number</label>
                </div>
              </c-col>
            </c-row>
            <c-row [gutter]="{g: 2}" style="margin-bottom: 10px;">
              <c-col [md]>
                <div cFormFloating>
                  <input (change)="onFileChanged($event)" multiple cFormControl id="file" type="file"
                    value="Enter Profile Image" />
                  <label style="margin-top: -7px" cLabel for="file">Profile Image</label>
                </div>
              </c-col>
              <c-col [md]>
                <div cFormFloating>
                  <input formControlName="companyAddress" cFormControl id="Address" type="text"
                    value="Enter Company Address" />
                  <label cLabel for="Address">Company Address</label>
                </div>
              </c-col>
            </c-row>
          </form>
        </c-modal-body>
        <c-modal-footer>
          <button (click)="toggleLiveDemo()" cButton color="secondary">
            Close
          </button>
          <button (click)="submit()" cButton color="primary" (click)="toggleLiveDemo()">Save changes</button>
          <!-- <button (click)="updateUser()" cButton color="primary"    (click)="toggleLiveDemo()">update</button> -->
        </c-modal-footer>
      </c-modal>
      <c-modal size="lg" id="liveDemoModal2" [visible]="visible2" (visibleChange)="handleLiveDemoChange2($event)">
        <c-modal-header>
          <h5 cModalTitle>Notification</h5>
          <button (click)="toggleLiveDemo2()" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
          <form cForm [formGroup]="notificationForm">
            <c-row [gutter]="{g: 2}" style="margin-bottom: 10px;">
              <c-col [md]>
                <div cFormFloating>
                  <input cFormControl formControlName="title" id="Title" type="text" placeholder="Enter Title" formControlName="title" />
                  <label cLabel for="Title">Title</label>
                </div>
              </c-col>
              <c-col [md]>
                <div cFormFloating>
                  <textarea cFormControl formControlName="body" id="Message" placeholder="Enter Message"  rows="5" style="height: auto;"></textarea>
                  <label cLabel for="Message">Message</label>
                </div>
              </c-col>
            </c-row>
          </form>
          
        </c-modal-body>
        <c-modal-footer>
          <button (click)="toggleLiveDemo2()" cButton color="secondary">
            Close
          </button>
          <button cButton color="primary" (click)="sendNotification()">Send Notification</button>
        </c-modal-footer>
        
      </c-modal>

      <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th>User</th>
              <th>Company Address</th>
              <th>Active</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userArray; index as i">
              <td class="text-center">
                <c-avatar *ngFor="let image of user.images" shape="rounded-1" size="md" [src]="image.url" status="Info"
                  style="width: 3rem; height: 2rem;"></c-avatar>
              </td>
              <td>
                <div>{{ user.firstName }}{{user.lastName}}</div>
                <div class="small text-medium-emphasis text-nowrap">
                  <span>
                    New | Registered: Jan 1 2023
                  </span>
                </div>
              </td>
              <td>
                <div>{{ user.companyAddress }}</div>
                <!-- <svg
                    cIcon
                    id="{{ user.country + user.name }}"
                    name="cif{{ user.country }}"
                    size="xl"
                    title="{{ user.country }}"
                  ></svg> -->
              </td>
              <!-- <td>
                  <div class="d-flex justify-content-between">
                    <div class="float-start">
                      <strong>50%</strong>
                    </div>
                    <div class="float-end ms-1 text-nowrap">
                      <small class="text-medium-emphasis">
                       100
                      </small>
                    </div>
                  </div>
                  <c-progress thin>
                     <c-progress-bar
                      [value]="43"
                      color="dark"
                    ></c-progress-bar> 
                  </c-progress>
                </td> -->
              <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                </div>
              </td>
              <td>
                <button (click)="toggleLiveDemo()" (click)="clickAddMember()" style="margin-right: 10px;"
                  (click)="getUserById(user._id)">
                  <svg cIcon name="cil-pencil" size="sm"></svg>
                </button>
                <button (click)="deleteMember(user._id)" style="margin-right: 10px;">
                  <svg cIcon name="cil-trash" size="sm"></svg>
                </button>
                <button (click)="handleNotificationClick(user._id)">
                  <svg cIcon name="cil-speech" size="sm"></svg>
                </button>
                
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>