
.chat-bubble .text-muted {
    font-size: 0.75rem;  /* Slightly larger font size for better readability */
    color: #6c757d;  /* Adjust color to make it stand out more */
  }
  
  .chat-bubble.bg-light .text-muted {
    color: #495057;  /* Darker color for timestamps on employee side for better contrast */
  }
  
  .chat-bubble.bg-primary .text-muted {
    color: #ffffff;  /* Lighter color for timestamps on admin side */
  }
  
  .chat-bubble {
    position: relative;
  }
  
  .chat-bubble .text-muted {
    position: absolute;
    bottom: -20px;
    right: 5px;  /* Adjust this if the timestamp is overlapping or too far */
    font-size: 0.8rem;
  }
    

.notification-container {
  max-height: 300px;
  overflow-y: auto;
}

.notification-item {
  border-left: 5px solid #007bff;
  padding: 10px;
  margin-bottom: 10px;
}

.notification-item h6 {
  font-weight: bold;
}

.notification-item .text-muted {
  font-size: 0.9rem;
}

.note-textarea {
  min-height: 150px; /* Ensures a minimum height */
  max-height: 300px; /* Optional: Limits maximum height */
  resize: vertical; /* Allows vertical resizing only */
}


.page-link {
  padding: 0.25rem 0.5rem; /* Smaller padding for smaller buttons */
  font-size: 0.875rem; /* Small text size */
}
