.chat-bubble {
  position: relative;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
}

.chat-bubble small {
  display: block;
  margin-bottom: 0.25rem;
}

.chat-bubble .timestamp {
  font-size: 0.75rem;
  color: #495057; /* Darker gray for better visibility */
  text-align: right;
}

.chat-bubble.bg-light .timestamp {
  color: #343a40; /* Even darker gray for light backgrounds */
}

.chat-bubble.bg-info .timestamp {
  color: #e9ecef; /* Slightly off-white for better readability on blue */
}



.bg-info {
  background-color: #5d9eff !important;
  color: #fff;
}

.bg-light {
  background-color: #f8f9fa !important;
  color: #495057;
}
.notification-container {
  max-height: 300px;
  overflow-y: auto;
}

.notification-item {
  border-left: 5px solid #5d9eff;
  padding: 10px;
  margin-bottom: 10px;
}

.notification-item h6 {
  font-weight: bold;
}

.notification-item .text-muted {
  font-size: 0.9rem;
}

.note-textarea {
  min-height: 150px; /* Ensures a minimum height */
  max-height: 300px; /* Optional: Limits maximum height */
  resize: vertical; /* Allows vertical resizing only */
}


.page-link {
  padding: 0.25rem 0.5rem; /* Smaller padding for smaller buttons */
  font-size: 0.875rem; /* Small text size */
}
.chat-container {
  overflow-y: auto;
  max-height: 300px;
}


