<c-row>
    <c-col xs>

        <c-card>
            <c-card-header class="d-flex justify-content-between align-items-center">
                <div>
                    Employee Management
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button (click)="toggleLiveDemo()" (click)="clickAddMember()" cButton size="sm">Add
                        Employee</button>
                </div>

                <!-- start Employee Register model -->
                <c-modal size="xl" id="liveDemoModal" [visible]="visible"
                    (visibleChange)="handleLiveDemoChange($event)">
                    <c-modal-header>
                        <h5 cModalTitle>
                            {{ isEditMode ? 'Edit Employee details' : 'Add Employee' }}
                        </h5>
                        <button (click)="toggleLiveDemo()" size="sm" cButtonClose></button>
                    </c-modal-header>
                    <c-modal-body>

                        <form [formGroup]="empMgmtForm">
                            <c-row class="mb-2">
                                <c-col>
                                    <div cFormFloating>
                                        <input cFormControl formControlName="employee_name" type="text"
                                            id="employee_name" placeholder="Enter Name" class="form-control"
                                            [attr.disabled]="isViewClicked ? true : null" />
                                        <label cLabel for="employee_name">
                                            Name<span class="text-danger">*</span>
                                        </label>
                                    </div>
                                </c-col>
                                <c-col>
                                    <div cFormFloating>
                                        <input cFormControl formControlName="employee_email" type="email"
                                            id="employee_email" placeholder="Enter Email" class="form-control"
                                            [attr.disabled]="isViewClicked ? true : null" />
                                        <label cLabel for="employee_email">
                                            Email<span class="text-danger">*</span>
                                        </label>
                                    </div>
                                </c-col>
                                <c-col>
                                    <div cFormFloating>
                                        <input cFormControl formControlName="employee_password" type="text"
                                            id="employee_password" placeholder="Enter Password" class="form-control"
                                            [attr.disabled]="isViewClicked ? true : null" />
                                        <label cLabel for="employee_password">
                                            Password<span class="text-danger">*</span>
                                        </label>
                                    </div>
                                </c-col>
                            </c-row>

                            <c-row class="mb-2">

                                <c-col>
                                    <div cFormFloating>
                                        <input cFormControl formControlName="employee_contact" type="text"
                                            id="employee_contact" placeholder="Enter Contact" class="form-control"
                                            [attr.disabled]="isViewClicked ? true : null" />
                                        <label cLabel for="employee_contact">
                                            Contact<span class="text-danger">*</span>
                                        </label>
                                    </div>
                                </c-col>

                                <c-col>
                                    <div cFormFloating>
                                        <input cFormControl formControlName="employee_address" type="text"
                                            id="employee_address" placeholder="Enter Address" class="form-control"
                                            [attr.disabled]="isViewClicked ? true : null" />
                                        <label cLabel for="employee_address">
                                            Address<span class="text-danger">*</span>
                                        </label>
                                    </div>
                                </c-col>
                                <c-col>
                                    <div cFormFloating>
                                        <input cFormControl formControlName="employee_SocialSecurityNumber"
                                            type="password" id="employee_SocialSecurityNumber"
                                            placeholder="Social Security number (SSN)" class="form-control"
                                            [attr.disabled]="isViewClicked ? true : null" />
                                        <label cLabel for="employee_SocialSecurityNumber">
                                            Social Security number (SSN)<span class="text-danger">*</span>
                                        </label>
                                    </div>
                                </c-col>

                            </c-row>


                            <c-row class="mb-2">
                                <c-col>
                                    <div cFormFloating>
                                        <select cSelect id="employee_role" formControlName="employee_role">
                                            <option value="" disabled>Select Job title</option>
                                            <option *ngFor="let role of employee_role" [value]="role">{{ role }}
                                            </option>
                                        </select>
                                        <label cLabel for="employee_role">
                                            Job title<span class="text-danger">*</span>
                                        </label>
                                    </div>
                                </c-col>

                                <c-col>
                                    <div cFormFloating>
                                        <select cSelect formControlName="employee_vanAssigned"
                                            (change)="onVanChange($event)">
                                            <option value="" disabled>Select van</option>
                                            <option *ngFor="let van of vanArray" [value]="van._id">
                                                {{ van.vanName }}
                                            </option>
                                        </select>


                                        <label cLabel>
                                            Select Van<span class="text-danger">*</span>
                                        </label>
                                    </div>
                                </c-col>
                                <c-col>
                                    <div cFormFloating>
                                        <input cFormControl (change)="onFileChanged($event)" type="file" id="file"
                                            placeholder="Upload Profile Picture" required />
                                        <label cLabel for="file">
                                            Upload Profile Picture<span class="text-danger">*</span>
                                        </label>
                                    </div>
                                </c-col>
                            </c-row>

                            <c-row class="mb-2">
                                <c-col md="4">
                                    <div cFormFloating>
                                        <textarea cFormControl formControlName="employee_addNote" id="employee_addNote"
                                            placeholder="Enter Note" class="form-control"
                                            [attr.disabled]="isViewClicked ? true : null" rows="4"></textarea>
                                        <label cLabel for="employee_addNote">
                                            Notes <span class="text-danger">*</span>
                                        </label>
                                    </div>

                                </c-col>
                                <c-col>
                                    <button cButton size="sm" type="button" class="btn btn-info"
                                        (click)="toggleEmergencyContact()">
                                        {{ showEmergencyContact ? 'Hide' : 'Add' }} Emergency Details
                                    </button>
                                </c-col>
                            </c-row>
                            <div *ngIf="showEmergencyContact">
                                <c-row class="mb-2">
                                    <c-col>
                                        <div cFormFloating>
                                            <input cFormControl formControlName="employee_EmContactName" type="text"
                                                id="employee_EmContactName" placeholder="Em Contact Name"
                                                class="form-control" [attr.disabled]="isViewClicked ? true : null" />
                                            <label cLabel for="employee_EmContactName">
                                                Enter Emergency Contact Name
                                                <span class="text-danger">*</span>
                                            </label>
                                        </div>
                                    </c-col>
                                    <c-col>
                                        <div cFormFloating>
                                            <input cFormControl formControlName="employee_EmContactNumber" type="text"
                                                id="employee_EmContactNumber" placeholder="Enter Em Contact Number"
                                                class="form-control" [attr.disabled]="isViewClicked ? true : null" />
                                            <label cLabel for="employee_EmContactNumber">
                                                Enter Emergency Contact Number
                                                <span class="text-danger">*</span>
                                            </label>
                                        </div>
                                    </c-col>
                                </c-row>

                                <c-row class="mb-2">
                                    <c-col>
                                        <div cFormFloating>
                                            <input cFormControl formControlName="employee_EmContactEmail" type="text"
                                                id="employee_EmContactEmail" placeholder="Em Contact Email"
                                                class="form-control" [attr.disabled]="isViewClicked ? true : null" />
                                            <label cLabel for="employee_EmContactEmail">
                                                Enter Emergency Contact Email
                                                <span class="text-danger">*</span>
                                            </label>
                                        </div>
                                    </c-col>
                                    <c-col>
                                        <div cFormFloating>
                                            <input cFormControl formControlName="employee_EmContactAddress" type="text"
                                                id="employee_EmContactAddress" placeholder="Enter Em Contact Address"
                                                class="form-control" [attr.disabled]="isViewClicked ? true : null" />
                                            <label cLabel for="employee_EmContactAddress">
                                                Enter Emergency Contact Address
                                                <span class="text-danger">*</span>
                                            </label>
                                        </div>
                                    </c-col>
                                </c-row>
                            </div>
                        </form>


                    </c-modal-body>
                    <c-modal-footer>

                        <button (click)="toggleLiveDemo()" cButton color="secondary" size="sm">Close</button>
                        <button (click)="submitEmpMgmtForm()" (click)="toggleLiveDemo()" *ngIf="showSaveChanges" cButton
                            color="primary" size="sm">Save</button>
                    </c-modal-footer>
                </c-modal>
                <!-- end Employee Register model -->

                <!-- Start View Employee Details Model -->
                <c-modal size="xl" id="liveDemoModal" [visible]="visibleViewEmpDetails"
                    (visibleChange)="handleLiveDemoViewEmpDetailsChange($event)">
                    <c-modal-header>
                        <h5 cModalTitle>View Employee Details</h5>
                        <button (click)="toggleLiveViewEmpDetailsDemo()" size="sm" cButtonClose></button>
                    </c-modal-header>
                    <c-modal-body class="p-3">

                        <!-- Employee Details -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="text-center mb-3">
                                    <img *ngIf="editData?.data?.employee_photo" [src]="editData?.data?.employee_photo"
                                        alt="Employee Photo" class="rounded-circle img-thumbnail"
                                        style="width: 120px; height: 120px;">
                                </div>
                                <h6 class="text-center mb-3">{{ editData?.data?.employee_name }}</h6>
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <strong>Contact:</strong> {{ editData?.data?.employee_contact }}
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <strong>Email:</strong> {{ editData?.data?.employee_email }}
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <strong>Password:</strong> {{ editData?.data?.employee_password}}
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <strong>Address:</strong> {{ editData?.data?.employee_address }}
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <strong>Job title:</strong> {{ editData?.data?.employee_role }}
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <strong>Van Assigned:</strong> {{ editData?.data?.employee_vanAssigned?.vanName
                                        }}
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <strong>Note:</strong> {{ editData?.data?.employee_addNote }}
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <strong>Social security number (SSN):</strong> {{
                                        editData?.data?.employee_SocialSecurityNumber }}
                                    </div>


                                </div>
                            </div>
                        </div>

                        <!-- Certificates -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center" *ngIf="editData">
                                    <!-- Heading -->
                                    <h5 class="mb-3">Certificates</h5>

                                    <!-- Add Certificate Button -->
                                    <button title="Add Certificate" (click)="openAddCertificateModal(editData.data._id)"
                                        class="btn btn-primary btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
                                            <path
                                                d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z" />
                                            <path
                                                d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5" />
                                        </svg>
                                    </button>
                                </div>

                                <!-- Certificates List -->
                                <div *ngIf="employeeCertificates?.length; else noCertificates">
                                    <ul class="list-unstyled">
                                        <li *ngFor="let certificate of employeeCertificates" class="mb-2">
                                            <a [href]="certificate.certificate_file" target="_blank">
                                                <i class="bi bi-file-earmark-text me-2"></i>
                                                {{ certificate.note || 'Certificate' }}
                                            </a>
                                            <span *ngIf="certificate.certificate_note" class="text-muted ms-2">
                                                - {{ certificate.certificate_note }}
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <ng-template #noCertificates>
                                    <p>No certificates available.</p>
                                </ng-template>
                            </div>
                        </div>


                        <!-- Time Logs -->
                        <div *ngIf="visibleViewEmpDetails" class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 class="mb-3 mt-2">Time Logs</h5>
                                    <!-- Apply Leave Button with Datepicker -->


                                    <button class="btn btn-primary btn-sm" title="Apply Leave"
                                        (click)="toggleLiveDemo3()">
                                        Apply Leave
                                    </button>

                                </div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Clock In</th>
                                            <th>Clock Out</th>
                                            <th>Break Start</th>
                                            <th>Break End</th>
                                            <th>Lunch Start</th>
                                            <th>Lunch End</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let log of employeeTimeLogs">
                                            <td>{{ log.date | date: 'shortDate' }}</td>
                                            <td [style.color]="log.status === 'leave' ? 'red' : 'inherit'">
                                                {{ log.status }}
                                            </td>

                                            <td>{{ log.timeRecordDetails.clockIn | date: 'shortTime' }}</td>
                                            <td>{{ log.timeRecordDetails.clockOut | date: 'shortTime' }}</td>
                                            <td>{{ log.timeRecordDetails.breakStart | date: 'shortTime' }}</td>
                                            <td>{{ log.timeRecordDetails.breakEnd | date: 'shortTime' }}</td>
                                            <td>{{ log.timeRecordDetails.lunchStart | date: 'shortTime' }}</td>
                                            <td>{{ log.timeRecordDetails.lunchEnd | date: 'shortTime' }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!-- Pagination Controls -->
                                <div class="pagination-controls">
                                    <button (click)="goToPreviousPage()" [disabled]="currentPage === 1"> Previous
                                    </button>
                                    <span> Page {{ currentPage }} of {{ totalPages }} </span>
                                    <button (click)="goToNextPage()" [disabled]="currentPage === totalPages"> Next
                                    </button>
                                </div>
                            </div>
                        </div>


                        <!-- Chats -->
                        <div class="card">
                            <div class="card-body">
                                <!-- Header Section -->
                                <div class="d-flex justify-content-between align-items-center mb-3" *ngIf="editData">
                                    <h5 class="mb-3">Notifications</h5>

                                    <button (click)="handleNotificationClick(editData.data._id)"
                                        class="btn btn-primary btn-sm">
                                        <svg cIcon name="cil-speech" size="sm"></svg>
                                    </button>
                                </div>

                                <!-- Notification List -->
                                <div class="notification-container" style="max-height: 300px; overflow-y: auto;">
                                    <div *ngIf="employeeNotifications?.length; else noNotifications">
                                        <div *ngFor="let notification of employeeNotifications" class="mb-3">
                                            <div class="notification-item p-2 rounded bg-light">
                                                <h6 class="mb-1">{{ notification.title }}</h6>
                                                <p class="mb-1 small text-muted">{{ notification.body }}</p>
                                                <div class="text-muted small">{{ notification.createdAt | date: 'short'
                                                    }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #noNotifications>
                                        <p>No notifications available.</p>
                                    </ng-template>
                                </div>
                            </div>
                        </div>



                    </c-modal-body>
                    <c-modal-footer>
                        <button (click)="toggleLiveViewEmpDetailsDemo()" cButton size="sm"
                            color="secondary">Close</button>
                    </c-modal-footer>
                </c-modal>

                <!-- End View Employee Details Model -->

                <!-- Start Add Certificates Model -->
                <c-modal style="background-color: #EAE9EE" id="liveDemoModal" [visible]="addCertificatesvisible"
                    (visibleChange)="handleLiveAddCertificatesChange($event)" size="lg">
                    <c-modal-header>
                        <h5 cModalTitle>Upload Certificates</h5>
                        <button (click)="toggleLiveAddCertificates()" size="sm" cButtonClose></button>
                    </c-modal-header>
                    <c-modal-body class="p-2">
                        <form [formGroup]="empCertificateForm">
                            <div>
                                <c-row class="mb-2">
                                    <c-col>
                                        <div cFormFloating>
                                            <input type="file" id="certificateFile" class="form-control"
                                                (change)="onFileSelected($event)" />
                                            <label for="certificateFile">Select Document File</label>
                                        </div>
                                    </c-col>
                                </c-row>
                                <c-row>
                                    <c-col>
                                        <div cFormFloating>
                                            <input cFormControl formControlName="certificate_note" type="text"
                                                id="certificateNote" placeholder="Enter Document File Name"
                                                class="form-control" />
                                            <label for="certificateNote">Enter Document File Name</label>
                                        </div>
                                    </c-col>
                                </c-row>
                            </div>
                        </form>
                    </c-modal-body>
                    <c-modal-footer>
                        <button (click)="toggleLiveAddCertificates()" cButton size="sm" color="secondary">Close</button>
                        <button (click)="uploadCertificates()" size="sm" cButton color="success">Add</button>
                    </c-modal-footer>
                </c-modal>

                <!-- End Add Certificates Model -->

                <!-- Notification start -->

                <c-modal style="background-color: #EAE9EE" size="lg" id="liveDemoModal2" [visible]="visible2"
                    (visibleChange)="handleLiveDemoChange2($event)">
                    <c-modal-header>
                        <h5 cModalTitle>Notification</h5>
                        <button (click)="toggleLiveDemo2()" cButtonClose></button>
                    </c-modal-header>
                    <c-modal-body>
                        <form cForm [formGroup]="notificationForm">
                            <c-row [gutter]="{g: 2}" style="margin-bottom: 10px;">
                                <c-col [md]>
                                    <div cFormFloating>
                                        <input cFormControl formControlName="title" id="Title" type="text"
                                            placeholder="Enter Title" formControlName="title" />
                                        <label cLabel for="Title">Title</label>
                                    </div>
                                </c-col>
                                <c-col [md]>
                                    <div cFormFloating>
                                        <textarea cFormControl formControlName="body" id="Message"
                                            placeholder="Enter Message" rows="5" style="height: auto;"></textarea>
                                        <label cLabel for="Message">Message</label>
                                    </div>
                                </c-col>
                            </c-row>
                        </form>

                    </c-modal-body>
                    <c-modal-footer>
                        <button (click)="toggleLiveDemo2()" cButton color="secondary">
                            Close
                        </button>
                        <button cButton color="primary" (click)="sendNotification()">Send Notification</button>
                    </c-modal-footer>

                </c-modal>

                <!-- notification end -->

                <!-- leave Modal start -->



                <c-modal style="background-color: #EAE9EE" id="liveDemoModal3" [visible]="visible3"
                    (visibleChange)="handleLiveDemoChange3($event)">
                    <c-modal-header>
                        <h5 cModalTitle>Select Leave Dates</h5>
                        <button (click)="toggleLiveDemo3()" cButtonClose></button>
                    </c-modal-header>
                    <c-modal-body>
                        <form [formGroup]="leaveForm" (ngSubmit)="applyLeave()">
                            <div class="form-group">
                                <label for="startDate">Start Date:</label>
                                <input type="date" id="startDate" formControlName="startDate" class="form-control"
                                    required />
                                <div *ngIf="leaveForm.controls['startDate'].invalid && leaveForm.controls['startDate'].touched"
                                    class="text-danger">
                                    Start Date is required.
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="endDate">End Date:</label>
                                <input type="date" id="endDate" formControlName="endDate" class="form-control"
                                    required />
                                <div *ngIf="leaveForm.controls['endDate'].invalid && leaveForm.controls['endDate'].touched"
                                    class="text-danger">
                                    End Date is required.
                                </div>
                            </div>
                        </form>
                    </c-modal-body>
                    <c-modal-footer>
                        <button (click)="toggleLiveDemo3()" cButton color="secondary">
                            Close
                        </button>
                        <button cButton color="primary" [disabled]="leaveForm.invalid" (click)="applyLeave()">
                            Apply Leave
                        </button>
                    </c-modal-footer>
                </c-modal>



                <!-- Leave Modal End -->

            </c-card-header>

            <c-card-body>
                <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
                    <thead cTableColor="light">
                        <tr>
                            <th class="text-center">S No.</th>
                            <th class="text-center">
                                <svg cIcon name="cilPeople"></svg>
                            </th>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Email</th>
                            <th>Emp Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Show list of items when Array has data -->
                        <tr *ngFor="let emp of empMgmtData; let i = index">
                            <td class="text-center">{{ i + 1 }}</td>
                            <td class="text-center">
                                <c-avatar shape="rounded-1" size="md" [src]="emp.employee_photo"
                                    style="width: 3rem; height: 3rem;"></c-avatar>
                            </td>
                            <td>{{ emp.employee_name }}</td>
                            <td>{{ emp.employee_contact }}</td>
                            <td>{{ emp.employee_email }}</td>

                            <!-- Employee status -->
                            <td>
                                <!-- Employee Active Status Button (Shows when status is Active) -->
                                <button *ngIf="emp.employee_employeeStatus === 'Active'" (click)="toggleStatus(emp._id)"
                                    size="sm" cButton color="success" class="d-flex align-items-center">
                                    <div class="me-2">
                                        Active
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-unlock" viewBox="0 0 16 16">
                                        <path
                                            d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2M3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1z" />
                                    </svg>
                                </button>

                                <!-- Employee Blocked Status Button (Shows when status is Blocked) -->
                                <button *ngIf="emp.employee_employeeStatus === 'Block'" (click)="toggleStatus(emp._id)"
                                    size="sm" cButton color="danger" class="d-flex align-items-center">
                                    <div class="me-2">
                                        Blocked
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-lock" viewBox="0 0 16 16">
                                        <path
                                            d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
                                    </svg>
                                </button>

                            </td>
                            <!-- Action Buttons -->
                            <td>
                                <!-- View Button -->
                                <button (click)="viewEmpMgmtById(emp._id)" title="View Employee Details"
                                    (click)="toggleLiveViewEmpDetailsDemo()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-eye" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                        <path
                                            d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                    </svg>
                                </button>

                                <!-- Edit button -->
                                <button (click)="getEmpMgmtById(emp._id)" (click)="toggleLiveDemo()"
                                    (click)="clickAddMember()" title="Edit Employee Details" class="mx-2">
                                    <svg cIcon name="cil-pencil" size="sm"></svg>
                                </button>


                                <!-- Message Button -->
                                <!-- <button title="Chat" class="me-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-chat-left-text" viewBox="0 0 16 16">
                                        <path
                                            d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                        <path
                                            d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5" />
                                    </svg>
                                </button> -->

                                <!-- Delete button -->
                                <button (click)="deleteEmpMgmtById(emp._id)" title="Delete Employee">
                                    <svg cIcon name="cil-trash" size="sm"></svg>
                                </button>

                            </td>
                        </tr>

                        <!-- Show list of items when Array has no data -->
                        <tr *ngIf="!empMgmtData || empMgmtData.length === 0">
                            <td colspan="12" class="text-center position-relative">
                                <div class="position-relative d-inline-block m-5">
                                    <img src="assets/images/no_data.png" alt="No Data" class="img-fluid"
                                        style="max-width: 200px;">
                                    <span
                                        class="position-absolute top-50 start-50 translate-middle fw-bold text-secondary text-nowrap">
                                        No Data Found
                                    </span>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </c-card-body>

        </c-card>
    </c-col>
</c-row>