<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-header>Manage Inventory

                <c-navbar colorScheme="light">
                    <c-container style="justify-content: flex-start !important;">
                        <span class="input-group-addon" style="margin-right: 10px;">
                            <input aria-label="Search" cFormControl class="me-2" placeholder="Search" type="search">
                        </span>
                        <button style="margin-right: 10px;" cButton color="secondary" shape="rounded-1" size="sm">Images</button>
                        <button style="margin-right: 10px;" cButton color="secondary" shape="rounded-1" size="sm">Videos</button>
                        <button cButton color="secondary" shape="rounded-1" size="sm">PDF</button>
                    </c-container>                  
                </c-navbar>

            </c-card-header>

            <c-card-body>
                <div class="clearfix mb-4" style="display: flex;justify-content: space-evenly">
                    <img class="imageborder" cImg height="180"  src="assets/images/default-image.jpg" width="180" />
                    <img class="imageborder" cImg height="180" src="assets/images/default-image.jpg" width="180" />
                    <img class="imageborder" cImg height="180" src="assets/images/default-image.jpg" width="180" />
                    <img class="imageborder" cImg height="180" src="assets/images/default-image.jpg" width="180" />
                </div>
                <div class="clearfix mb-4" style="display: flex;justify-content: space-evenly">
                    <img class="imageborder" cImg height="180" src="assets/images/default-image.jpg" width="180" />
                    <img class="imageborder" cImg height="180" src="assets/images/default-image.jpg" width="180" />
                    <img class="imageborder" cImg height="180" src="assets/images/default-image.jpg" width="180" />
                    <img class="imageborder" cImg height="180" src="assets/images/default-image.jpg" width="180" />
                </div>
                <div class="clearfix mb-4" style="display: flex;justify-content: space-evenly">
                    <img class="imageborder" cImg height="180" src="assets/images/default-image.jpg" width="180" />
                    <img class="imageborder" cImg height="180" src="assets/images/default-image.jpg" width="180" />
                    <img class="imageborder" cImg height="180" src="assets/images/default-image.jpg" width="180" />
                    <img class="imageborder" cImg height="180" src="assets/images/default-image.jpg" width="180" />
                </div>
            </c-card-body>


        </c-card>
    </c-col>
</c-row>