<c-row class="mb-4 align-items-center justify-content-between">
  <c-col xs="auto">
    <div class="d-flex align-items-center">
      <label for="eventTypeFilter" class="me-2 fw-bold text-primary">
        Filter by Event Type:
      </label>
      <select
        id="eventTypeFilter"
        class="form-select rounded-pill shadow-sm w-auto bg-secondary"
        [(ngModel)]="selectedEventType"
        (change)="filterEvents()"
      >
        <option value="">All</option>
        <option
          *ngFor="let type of eventType"
          [value]="type"
          [style.color]="eventTypeColors[type]"
        >
          &#9679; {{ type }}
        </option>
      </select>
    </div>
  </c-col>

  <c-col xs="auto" class="ms-auto">
    <button cButton color="secondary" (click)="toggleWeekends()">Toggle Weekends</button>
  </c-col>
</c-row>


<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-body>
        <c-row class="d-flex ">
          <c-col [sm]="6">
            <c-card >
              <full-calendar [options]="calendarOptions"></full-calendar>
            </c-card>
          </c-col>
      

        </c-row>
     
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<!-- event list -->
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header class="d-flex justify-content-between align-items-center">
        <span> Recent Job Event</span>
       
        <button cButton color="info" routerLink="/jobEvent" shape="rounded-pill" size="sm">All Events</button>
      </c-card-header>
      <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead cTableColor="light">
            <tr class="fsize1">
              <th></th>
              <th>S.No.</th>
              <th>Title</th>
              <th>Event Type</th>
              <th>JobId</th>
              <th>Date</th>
              <th>Time</th>
              <th>Assign</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="fs-6">
            <tr *ngFor="let event of calendarArray; let i = index">
              <td></td>
              <td>{{ i + 1 }}</td>
              <td>{{ event.title }}</td>
              <td>{{ event.eventType }}</td>
              <td>{{ event.jobId
                }}</td>
              <td>{{ event.date }}</td>
              <td>{{ event.time }}</td>
              <td>{{ event.employeeName }}</td>
              <td>
                <!-- edit -->
                <button (click)="editEvent(event)" class="border-0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path
                      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                    <path fill-rule="evenodd"
                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                  </svg>
                </button>
  
                <!-- delete -->
                <button (click)="deleteEvent(event._id)" class="border-0">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3"
                    viewBox="0 0 16 16">
                    <path
                      d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                  </svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<!-- calendar modal start -->

<c-modal size="lg" id="liveDemoModal" [(visible)]="visible3" (visibleChange)="handleLiveDemoChange3($event)">
  <c-modal-header>
    <!-- <h5 cModalTitle>Add Event</h5> -->
    <h5 cModalTitle>{{ editData ? 'Edit Event' : 'Add Event' }}</h5>
    <button (click)="toggleLiveDemo3()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form [formGroup]="eventForm">
      <c-row>
        <c-col md>
          <div>
            <label cLabel for="title">Add Event Title</label>
            <input formControlName="title" id="title" type="text" cFormControl placeholder="Add title" />
          </div>
        </c-col>
        <c-col md>
          <div>
            <label cLabel for="eventType">Add Event Type</label>
            <select formControlName="eventType" id="eventType" cFormControl aria-label="Default select example" cSelect>
              <option disabled>Open this select menu</option>
              <option *ngFor="let type of eventType" [value]="type">{{ type }}</option>
            </select>

          </div>
          
        </c-col>
        <c-col md>
          <div class="form-group">
            <label for="employeeName" class="pb-2">Assign to employee</label>
            <select formControlName="employeeName" id="employeeName" class="form-control">
              <option value="" disabled>--Select Employee--</option>
              <option *ngFor="let emp of empArray" [value]="emp.employee_name">{{ emp.employee_name }}
              </option>
            </select>
          </div>
        </c-col>
      </c-row>
      <c-row>
        <c-col md>
          <div>
            <label cLabel for="date">Add Date</label>
            <input formControlName="date" id="date" type="text" cFormControl placeholder="Add Date" />
          </div>
        </c-col>
        <c-col md>
          <div>
            <label cLabel for="startTime">Add Start Time</label>
            <input formControlName="startTime" id="startTime" type="time" cFormControl placeholder=" " />
          </div>
        </c-col>
        <c-col md>
          <div>
            <label cLabel for="endTime">Add End Time</label>
            <input formControlName="endTime" id="endTime" type="time" cFormControl placeholder=" " />
          </div>
        </c-col>
      </c-row>
      <c-row>
    
        <c-col md>
          <div>
            <label cLabel for="clientName">Add client Name</label>
            <input formControlName="clientName" id="clientName" type="text" cFormControl
              placeholder="Add client Name" />
          </div>
        </c-col>
        <c-col md>
          <div>
            <label cLabel for="clientEmail">Add client Email</label>
            <input formControlName="clientEmail" id="clientEmail" type="text" cFormControl
              placeholder="Add client Email" />
          </div>
        </c-col>
        <c-col md>
          <div>
            <label cLabel for="clientContact">Client Contact</label>
            <input formControlName="clientContact" id="clientContact" type="text" cFormControl
              placeholder="Add client Contact" />
          </div>
        </c-col>
      </c-row>
   
      <c-row>
        <c-col md>
          <div>
            <label cLabel for="address">Client Address</label>
            <input formControlName="address" id="address" type="text" cFormControl placeholder="Add client Address" />
          </div>
        </c-col>
        <c-col md>
          <div>
            <label cLabel for="description">Add Description</label>
            <textarea
              formControlName="description"
              id="description"
              cFormControl
              rows="5"
              class="form-control shadow-sm"
              placeholder="Add Description"
            ></textarea>
          </div>
        </c-col>
      </c-row>
      
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleLiveDemo3()" cButton color="secondary">Close</button>
    <!-- <button (click)="submit()" cButton color="primary">Save</button> -->
    <button (click)="submit()" cButton color="primary">{{ editData ? 'Update' : 'Save' }}</button>
  </c-modal-footer>
</c-modal>
<!-- calendar modal end -->
<!-- history -->

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header class="d-flex justify-content-between align-items-center">
        <span>Recent Job History</span>
        <button cButton color="info" routerLink="/jobHistory" shape="rounded-pill" size="sm">All History</button>
      </c-card-header>
      
      <c-card-body>
        <table [hover]="true" [responsive]="true" [striped]="true" align="middle" cTable class="mb-0 border">
          <thead cTableColor="light">
            <tr class="fsize1">
              <th>S.No.</th>
              <th>Title</th>
              <th>Date</th>
              <th>Time</th>
              <th>Assign</th>
              <th>Status</th>
              <th>Job</th>
              <th>Price</th>
              <th>Invoice No.</th>
            </tr>
          </thead>
          <tbody class="fs-6">
            <tr *ngFor="let event of historyArray | slice:0:3; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ event.title }}</td>
              <td>{{ event.date }}</td>
              <td>{{ event.time }}</td>
              <td>{{ event.userName }}</td>
              <td>{{ event.status }}</td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header class="d-flex align-items-center">
        <span>Recent Job Estimate</span>
      
        <button (click)="toggleLiveDemo2()" cButton color="info" shape="rounded-pill" style="margin-left: 3rem;" size="sm">Create Estimate</button>
        
        <button cButton color="info" shape="rounded-pill" style="margin-left: 1rem;" size="sm">Send Estimate</button>
      
        <div class="ms-auto">
          <button cButton color="info" shape="rounded-pill"  routerLink="/jobEstimate" size="sm">All Estimate</button>
        </div>
      </c-card-header>
      
      

      <c-modal size="xl" id="liveDemoModal2" [visible]="visible2" (visibleChange)="handleLiveDemoChange2($event)">

        <c-modal-header>
          <h5 cModalTitle>Create Estimate</h5>
          <button (click)="toggleLiveDemo2()" cButtonClose></button>
        </c-modal-header>

        <c-modal-body>
          <div class="card">

            <div class="card-header d-flex align-items-center">
              <div style="width: 250px;" >
                <label for="jobId">Select Job:</label>
                <select class="form-control" [(ngModel)]="selectedJobId">
                  <option *ngFor="let job of calendarArray" [value]="job.jobId">{{ job.jobId }}</option>
                </select>
              </div>
              <div class="mt-4 ms-3">
                <button cButton color="primary" shape="rounded-pill" size="sm" (click)="addRoom()">Add Room</button>
              </div>
            </div>

            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Room</th>
                    <th scope="col">Length (ft)</th>
                    <th scope="col">Width (ft)</th>
                    <th scope="col">Total Sq. Ft</th>
                    <th scope="col">Service</th>
                    <th scope="col">Method</th>
                    <th scope="col">Item Clean</th>
                    <th scope="col">Hard Surface</th>
                    <th scope="col">Dry Cleaning</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let estimate of estimates; let i = index">
                    <td>
                      <div class="tooltip-container">
                        <select class="form-select form-select-sm" [(ngModel)]="estimate.room">
                          <option *ngFor="let room of rooms" [value]="room._id">{{ room.name }}</option>
                        </select>
                        <span class="tooltip-text">{{ getRoomName(estimate.room) }}</span>
                      </div>
                      <button class="btn btn-primary btn-sm mt-2" style="margin-right: 5px;"
                        (click)="addService(i)">+</button>
                      <button class="btn btn-danger btn-sm mt-2" (click)="removeRoom(i)">
                        <svg cIcon name="cil-trash" size="sm"></svg>
                      </button>
                    </td>
                    <td>
                      <input min="0" oninput="this.value = Math.abs(this.value)" type="number"
                        class="form-control form-control-sm" [(ngModel)]="estimate.length"
                        (ngModelChange)="estimate.totalSquareFoot = estimate.length * estimate.width">
                    </td>
                    <td>
                      <input min="0" oninput="this.value = Math.abs(this.value)" type="number"
                        class="form-control form-control-sm" [(ngModel)]="estimate.width"
                        (ngModelChange)="estimate.totalSquareFoot = estimate.length * estimate.width">
                    </td>
                    <td>
                      <input type="number" class="form-control form-control-sm" [(ngModel)]="estimate.totalSquareFoot"
                        readonly>
                    </td>
                    <td colspan="7">
                      <table class="table table-borderless mb-0">
                        <tbody>
                          <tr *ngFor="let selectedService of estimate.selectedServices; let j = index">
                            <td>
                              <div class="tooltip-container">
                                <select class="form-select form-select-sm" [(ngModel)]="selectedService.service">
                                  <option *ngFor="let service of services" [value]="service._id">{{ service.name }}
                                  </option>
                                </select>
                                <span class="tooltip-text">{{ getServiceName(selectedService.service) }}</span>
                              </div>
                            </td>
                            <td>
                              <div class="tooltip-container">
                                <select class="form-select form-select-sm" [(ngModel)]="selectedService.method">
                                  <option *ngFor="let method of methods" [value]="method._id">{{ method.name }}</option>
                                </select>
                                <span class="tooltip-text">{{ getMethodName(selectedService.method) }}</span>
                              </div>
                            </td>

                            
                            <!-- <td>
                              <div class="tooltip-container">
                                <select class="form-select form-select-sm" [(ngModel)]="selectedService.itemClean">
                                  <option *ngFor="let itemClean of itemCleans" [value]="itemClean._id">{{ itemClean.name }}</option>
                                </select>
                                <span class="tooltip-text">{{ getItemCleanName(selectedService.itemClean) }}</span>
                              </div>
                            </td> -->
                            
                            <!-- <td>
                              <div class="tooltip-container">
                                <select class="form-select form-select-sm" [(ngModel)]="selectedService.itemClean">
                                  <option *ngFor="let itemClean of itemCleans" [value]="itemClean._id">
                                    {{ itemClean.name }}
                                  </option>
                                </select>
                                <span class="tooltip-text">{{ getItemCleanName(selectedService.itemClean) }}</span>
                              
                             
                                <div *ngIf="getSubItems(selectedService.itemClean)?.length">
                                  <select class="form-select form-select-sm" [(ngModel)]="selectedService.subItem">
                                    <option *ngFor="let subItem of getSubItems(selectedService.itemClean)" [value]="subItem.name">
                                      {{ subItem.name }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                              
                            </td> -->

                            <td>
                              <div class="tooltip-container">
                                <!-- Main Dropdown -->
                                <select class="form-select form-select-sm" [(ngModel)]="selectedService.itemClean">
                                  <ng-container *ngFor="let itemClean of itemCleans">
                                    <!-- Main item -->
                                    <option [value]="itemClean._id">{{ itemClean.name }}</option>
                            
                                    <!-- Sub-items if available, displayed indented -->
                                    <ng-container *ngIf="itemClean.subItems && itemClean.subItems.length > 0">
                                      <option *ngFor="let subItem of itemClean.subItems" [value]="subItem.name" class="sub-item-option">
                                        &nbsp;&nbsp;— {{ subItem.name }}
                                      </option>
                                    </ng-container>
                                  </ng-container>
                                </select>
                                
                                <!-- Tooltip Display -->
                                <span class="tooltip-text">{{ getItemCleanName(selectedService.itemClean) }}</span>
                              </div>
                            </td>
                            
                            

                            
                            <td>
                              <div class="tooltip-container">
                                <select class="form-select form-select-sm" [(ngModel)]="selectedService.hardSurface">
                                  <option *ngFor="let hardSurface of hardSurfaces" [value]="hardSurface._id">{{ hardSurface.name }}</option>
                                </select>
                                <span class="tooltip-text">{{ getHardSurfaceName(selectedService.hardSurface) }}</span>
                              </div>
                            </td>
                            <td>
                              <div class="tooltip-container">
                                <select class="form-select form-select-sm" [(ngModel)]="selectedService.dryCleaning">
                                  <option *ngFor="let dryCleaning of dryCleanings" [value]="dryCleaning._id">{{
                                    dryCleaning.name }}</option>
                                </select>
                                <span class="tooltip-text">{{ getDryCleaningName(selectedService.dryCleaning) }}</span>
                              </div>
                            </td>
                            <td>
                              {{ calculateServicePrice(selectedService) | currency }}
                            </td>
                            <td>
                              <button class="btn btn-danger btn-sm" (click)="removeService(i, j)">
                                <svg cIcon name="cil-trash" size="sm"></svg>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p *ngIf="calculateEstimate() > 0" class="alert alert-info">Estimated Cost: {{ calculateEstimate() | currency }}</p>
            </div>
          </div>
        </c-modal-body>


        <c-modal-footer>
          <button (click)="toggleLiveDemo2()" cButton color="secondary" shape="rounded-pill" size="sm">Close</button>
          <button type="submit" (click)="toggleLiveDemo2()" (click)="submitEstimate()" cButton color="primary" shape="rounded-pill" size="sm">Submit Estimate</button>
        </c-modal-footer>

      </c-modal>

      <!-- <c-modal size="lg" id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
        <c-modal-header>
          <h5 cModalTitle>Select Employee</h5>
          <button (click)="toggleLiveDemo()" cButtonClose></button>
        </c-modal-header>
        <c-modal-body>
          <ul cListGroup flush *ngFor="let user of userArray; index as i">
            <li cListGroupItem>Employee Name - {{user.firstName}} {{user.lastName}}</li>
          </ul>
        </c-modal-body>
        <c-modal-footer>
          <button (click)="toggleLiveDemo()" cButton color="secondary">
            Close
          </button>
          <button cButton color="primary" (click)="toggleLiveDemo()">Save changes</button>
        </c-modal-footer>
      </c-modal> -->
      <c-card-body>
        <table class="table table-responsive-sm table-bordered table-striped">
          <thead>
            <tr>
              <th>JobId</th>
              <th>Room</th>
              <th>Service</th>
              <th>Item Clean</th>
              <th>Dry Cleaning</th>
              <th>Hard Surface</th>
              <th>Method</th>
              <th>Estimated Cost</th>
              <th>Action</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let estimate of estArray | slice:0:3;">
              <td>{{estimate.jobId}} </td>
              <td>{{ estimate.room.name }}</td>
              <td>
                <div *ngFor="let service of estimate.selectedServices">
                  {{ service.service?.name }} - ${{ service.service?.price }}
                </div>
              </td>
              <td>
                <div *ngFor="let service of estimate.selectedServices">
                  {{ service.itemClean?.name }} - ${{ service.itemClean?.price }}
                </div>
              </td>
              <td>
                <div *ngFor="let service of estimate.selectedServices">
                  {{ service.dryCleaning?.name }} - ${{ service.dryCleaning?.price }}
                </div>
              </td>
              <td>
                <div *ngFor="let service of estimate.selectedServices">
                  {{ service.hardSurface?.name }} - ${{ service.hardSurface?.price }}
                </div>
              </td>
              <td>
                <div *ngFor="let service of estimate.selectedServices">
                  {{ service.method?.name }} - ${{ service.method?.price }}
                </div>
              </td>
              <td>
                <div *ngFor="let service of estimate.selectedServices">
                  ${{ service.estimatedCost }}
                </div>
              </td>
              <td>
                <button (click)="deleteEstimate(estimate._id)">
                  <svg cIcon name="cil-trash" size="sm"></svg>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>