<c-row>
  <c-col xs>
    <c-card class="mb-4">

      <!-- Header Section -->
      <c-card-header>
        <div class="d-flex align-items-center justify-content-between flex-wrap gap-2">
          <div class="fw-bold">
            Troubleshooting Categories
          </div>
          <form [formGroup]="categoryForm" class="d-flex align-items-center">
            <c-input-group>
              <input aria-describedby="button-addon2" aria-label="Add Category" cFormControl placeholder="Add Category" formControlName="categoryName" />
              <button cButton color="primary" id="button-addon2" type="button" variant="outline" size="sm" (click)="addCategory()">Add Category</button>
            </c-input-group>
          </form>
        </div>
      </c-card-header>
      
      <!-- Body Section -->
      <c-card-body>
        
        <div class="container">
          <div class="row">

            <!-- Show Category Cards if Data Exists -->
            <div *ngFor="let category of categoryData" class="col-lg-3 col-md-3 col-sm-12 mb-4">
              <c-card class="mb-3">
                <c-row class="g-0">
                  <c-card-body cCol [md]="8">
                    <h5 cCardTitle>{{ category.categoryName }}</h5>
            
                    <p cCardText class="text-end">

                      <!-- Delete Button -->
                      <button class="mx-2" size="sm" title="Delete group" [disabled]="deletingCategoryId === category._id" (click)="deleteTroubleShootingCategoryById(category._id)">
                        <ng-container *ngIf="deletingCategoryId === category._id; else showTrashIcon">
                          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        </ng-container>
                        <ng-template #showTrashIcon>
                          <svg cIcon name="cil-trash" size="sm"></svg>
                        </ng-template>
                      </button>

                      <!-- Go to Item Button -->
                      <button [routerLink]="['/troubleshootingDashboard/items', category._id]" cButton color="primary" size="sm">View More</button>
                    </p>
                  </c-card-body>
                </c-row>
              </c-card>
            </div>

            <!-- Show 'No Data Found' Message when categoryData is Empty -->
            <div *ngIf="categoryData?.length === 0" class="col-12 text-center mt-5">
              <h5>No Data found</h5>
            </div>
                        
          </div>
        </div>

      </c-card-body>

    </c-card>
  </c-col>
</c-row>