<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-header class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0">GPS Tracking</h5>
                <div class="d-flex flex-wrap align-items-center gap-3">
                    <input id="search-box" type="text" class="form-control" placeholder="Search location" style="width: 300px;">
            
                    <div class="btn-group">
                        <button class="btn btn-outline-primary" [ngClass]="{ 'active': isAll }" (click)="toggleAll()">
                            All
                        </button>
                        <button class="btn btn-outline-primary" [ngClass]="{ 'active': showingVehicles }" (click)="toggleVehicles()">
                            Vehicles
                        </button>
                        <button class="btn btn-outline-primary" [ngClass]="{ 'active': !showingVehicles && !isAll }" (click)="toggleJobs()">
                            Jobs
                        </button>
                    </div>
                </div>
            </c-card-header>
            
            <c-card-body>
                <div class="d-flex">

                    <div style="margin-right: 1rem;">
                        <!-- Google Map Container -->
                        <div id="map" style="width: 800px; height: 600px; border: 1px solid #ccc;"></div>
                    </div>
                    <div>
                        <c-col xs="12" class="p-3 border" style="text-decoration: none !important;">
                            <button cButton size="sm" color="primary" class="me-md-2" routerLink="/dashboard">
                                Calendar
                            </button>
                        </c-col>
                        <c-col xs="12" class="p-3 border"
                            style="text-decoration: none !important; display: flex; align-items: center; justify-content: center;">
                            <button (click)="changeDate(-1)" class="btn btn-outline-primary btn-sm">←</button>
                            <span class="date-display">{{ currentDate }}</span>
                            <button (click)="changeDate(1)" class="btn btn-outline-primary btn-sm">→</button>
                        </c-col>

                        <c-col xs="12" class="p-3 border">
                            {{ currentDay }}
                        </c-col>
                        <c-col xs="12" class="p-3 border">
                            {{ currentTime }}
                        </c-col>
                    </div>

                </div>
            </c-card-body>
        </c-card>
    </c-col>
</c-row>