<c-row>
    <c-col xs>
        <c-card class="mb-4">
            <c-card-header>Manage Job History

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item"><button type="button" data-mdb-button-init data-mdb-ripple-init class="btn" data-mdb-ripple-color="dark">Vehicle1</button></li>
                        <li class="list-group-item"><button type="button" data-mdb-button-init data-mdb-ripple-init class="btn" data-mdb-ripple-color="dark">Vehicle2</button></li>
                        <li class="list-group-item"><button type="button" data-mdb-button-init data-mdb-ripple-init class="btn" data-mdb-ripple-color="dark">Vehicle3</button></li>
                    </ul>             
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button cButton size="sm" color="primary" class="me-md-2">Vehicle</button>
                        <button cButton size="sm" color="primary" class="me-md-2">Jobs</button>
                    </div>
                </div>
            </c-card-header>
            <c-card-body>
                <div class=" d-flex">
                    <div style="margin-right: 1rem;">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.9972879004163!2d73.08272902480869!3d33.50144768777541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df8d52d67b132d%3A0x3a09d11dc6f0b2e9!2sStatue%20of%20Liberty%2C%20Bahria%20Business%20District%20Phase%208%20Bahria%20Town%2C%20Rawalpindi%2C%20Punjab%2C%20Pakistan!5e0!3m2!1sen!2sin!4v1713169194847!5m2!1sen!2sin"
                            width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div>
                        <c-col xs="12" class="p-3 border" style="text-decoration: none !important;">
                            Calendar
                        </c-col>
                        <c-col xs="12" class="p-3 border">
                            Current day
                        </c-col>
                        <c-col xs="12" class="p-3 border">
                            Current Time
                        </c-col>
                    </div>
                </div>
            </c-card-body>

        </c-card>
    </c-col>
</c-row>