<c-row>
    <c-col xs>
      <c-card class="mb-4">
        <c-card-header class="d-flex align-items-center">
          <span>All Estimate</span>
        </c-card-header>

        <c-card-body>
          <table class="table table-responsive-sm table-bordered table-striped">
            <thead>
              <tr>
                <th>JobId</th>
                <th>Room</th>
                <th>Service</th>
                <th>Item Clean</th>
                <th>Dry Cleaning</th>
                <th>Hard Surface</th>
                <th>Method</th>
                <th>Estimated Cost</th>
                <th>Action</th>
  
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estimate of estArray">
                <td>{{estimate.jobId}} </td>
                <td>{{ estimate.room.name }}</td>
                <td>
                  <div *ngFor="let service of estimate.selectedServices">
                    {{ service.service?.name }} - ${{ service.service?.price }}
                  </div>
                </td>
                <td>
                  <div *ngFor="let service of estimate.selectedServices">
                    {{ service.itemClean?.name }} - ${{ service.itemClean?.price }}
                  </div>
                </td>
                <td>
                  <div *ngFor="let service of estimate.selectedServices">
                    {{ service.dryCleaning?.name }} - ${{ service.dryCleaning?.price }}
                  </div>
                </td>
                <td>
                  <div *ngFor="let service of estimate.selectedServices">
                    {{ service.hardSurface?.name }} - ${{ service.hardSurface?.price }}
                  </div>
                </td>
                <td>
                  <div *ngFor="let service of estimate.selectedServices">
                    {{ service.method?.name }} - ${{ service.method?.price }}
                  </div>
                </td>
                <td>
                  <div *ngFor="let service of estimate.selectedServices">
                    ${{ service.estimatedCost }}
                  </div>
                </td>
                <td>
                  <button (click)="deleteEstimate(estimate._id)">
                    <svg cIcon name="cil-trash" size="sm"></svg>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>