<c-row>
    <c-col xs>
        <c-card class="mb-4">

            <!-- Header Section -->
            <c-card-header>Marketing</c-card-header>

            <!-- Modal Add Template -->
            <c-modal size="xl" id="addTemplateDemoModal" [visible]="visibleAddTemplate" (visibleChange)="handleAddTemplateDemoChange($event)">
               
                <c-modal-header>
                    <h5 cModalTitle>Add New Template</h5>
                    <button (click)="toggleAddTemplateDemo()" cButtonClose></button>
                </c-modal-header>

                <c-modal-body>
                    <div class="row">

                        <!-- First Section -->
                        <div class="col-md-7">

                            <!-- Main card -->
                            <c-card>
                                <c-card-header class="d-flex justify-content-between">
                                    <div>
                                        Buy Additional Themes
                                    </div>
                                    <span class="ms-4 typewriter">
                                        <strong>Coming soon...</strong>
                                    </span>
                                </c-card-header>
                                <!-- Main card Body -->
                                <c-card-body>

                                    <!-- First card -->
                                    <c-card>
                                        <c-card-header class="fw-bold">Templates</c-card-header>
                                        <c-card-body>
                                            <div class="d-flex flex-wrap justify-content-center gap-4">

                                                <!-- If data Are Available -->
                                                <div *ngFor="let temp of allTemplates" class="position-relative" style="width: 150px;">

                                                    <!-- Card -->
                                                    <div class="p-3 border rounded position-relative" (mouseenter)="hoveredTemplateId = temp._id" (mouseleave)="hoveredTemplateId = null" [ngStyle]="{'background-color': temp.backgroundColor || '#8000b0', 'border-color': temp.backgroundColor || '#8000b0'}">

                                                        <!-- Delete Button (only visible on hover) -->
                                                        <button class="btn btn-sm btn-danger position-absolute top-0 end-0 m-1 d-flex align-items-center justify-content-center" *ngIf="hoveredTemplateId === temp._id" [disabled]="deletingTemplateId === temp._id" (click)="deleteTemplate(temp._id)" title="Delete Template">

                                                            <ng-container *ngIf="deletingTemplateId === temp._id; else deleteText">
                                                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                            </ng-container>

                                                            <ng-template #deleteText>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                                </svg>
                                                            </ng-template>

                                                        </button>


                                                        <!-- New Share Template Button -->
                                                        <button *ngIf="hoveredTemplateId === temp._id" (click)="openShareTemplateModal(temp._id)" class="btn btn-sm btn-primary position-absolute top-0 end-0 mt-5 me-1 d-flex align-items-center justify-content-center" title="Share Template">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"height="16" fill="currentColor" class="bi bi-share"viewBox="0 0 16 16">
                                                                <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3" />
                                                            </svg>
                                                        </button>

                                                        <!-- Share Template Modal -->
                                                        <c-modal id="shareTempModal" [visible]="visibleShareTemp" (visibleChange)="handleShareTempDemoChange($event)">

                                                            <c-modal-header>
                                                                <h5 cModalTitle>Share Templates</h5>
                                                                <button (click)="toggleShareTempDemo()" cButtonClose></button>
                                                            </c-modal-header>

                                                            <c-modal-body>
                                                                <!-- Tabs -->
                                                                <ul class="nav nav-tabs mb-3">
                                                                    <li class="nav-item">
                                                                        <button class="nav-link" [ngClass]="{ active: shareTab === 'group' }" (click)="shareTab = 'group'">Groups</button>
                                                                    </li>

                                                                    <li class="nav-item">
                                                                        <button class="nav-link" [ngClass]="{ active: shareTab === 'client' }" (click)="shareTab = 'client'">Clients</button>
                                                                    </li>
                                                                </ul>

                                                                <!-- Tab Content -->
                                                                <div>
                                                                    <!-- Group Tab -->
                                                                    <div *ngIf="shareTab === 'group'">

                                                                        <div class="mb-3">
                                                                            <input type="text" class="form-control" placeholder="Search Groups..." [(ngModel)]="groupSearchText" />
                                                                        </div>

                                                                        <div class="border rounded p-2" style="max-height: 250px; overflow-y: auto;">

                                                                            <!-- Select All Checkbox -->
                                                                            <div class="form-check mb-2">
                                                                                <input class="form-check-input" type="checkbox" id="selectAllGroups" [checked]="areAllGroupsSelected()" (change)="toggleSelectAllGroups($event)" />
                                                                                <label class="form-check-label" for="selectAllGroups">Select All</label>
                                                                            </div>

                                                                            <!-- Group List -->
                                                                            <div class="form-check" *ngFor="let group of filteredGroups()">
                                                                                <input class="form-check-input" type="checkbox" [id]="group._id"  [checked]="selectedGroupIds.includes(group._id)" (change)="onGroupCheckboxChange($event, group)">
                                                                                <label class="form-check-label" [for]="group._id"> {{ group.groupName ? (group.groupName.charAt(0).toUpperCase() + group.groupName.slice(1)) : '' }} ({{ group.clients?.length || 0 }} clients)</label>
                                                                            </div>

                                                                            <!-- No Groups Founds -->
                                                                            <div *ngIf="filteredGroups().length === 0" class="text-danger text-center mt-2">
                                                                                No groups found.
                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                    <!-- Clients Tab -->
                                                                    <div *ngIf="shareTab === 'client'">

                                                                        <div class="mb-3">
                                                                            <input type="text" class="form-control" placeholder="Search Clients..." [(ngModel)]="searchClientText" />
                                                                        </div>

                                                                        <div class="border rounded p-2" style="max-height: 250px; overflow-y: auto;">

                                                                            <!-- Select All Checkbox -->
                                                                            <div class="form-check mb-2">
                                                                                <input class="form-check-input" type="checkbox" id="selectAllClients" [checked]="areAllClientsSelected()" (change)="toggleSelectAllClients($event)"/>
                                                                                <label class="form-check-label" for="selectAllClients">Select All</label>
                                                                            </div>
                                                                            

                                                                            <!-- Client List -->
                                                                            <div class="form-check" *ngFor="let client of filteredClients()">
                                                                                <input class="form-check-input" type="checkbox" [id]="client._id" [checked]="selectedClientIds.includes(client._id)" (change)="onClientCheckboxChange($event, client._id)" />
                                                                                <label class="form-check-label" [for]="client._id">{{ client.name ? (client.name.charAt(0).toUpperCase() + client.name.slice(1)) : 'Unnamed Client' }} - {{ client.email }}</label>
                                                                            </div>

                                                                            <!-- No Clients Available -->
                                                                            <div *ngIf="allClients.length === 0" class="text-danger text-center">No clients found </div>

                                                                        </div>

                                                                    </div>

                                                                </div>
                                                            </c-modal-body>

                                                            <c-modal-footer>
                                                                <button (click)="toggleShareTempDemo()" cButton
                                                                    color="secondary">Close</button>

                                                                <!-- Share Button -->
                                                                <button (click)="shareTemplateToSelectedClients()" [disabled]="isSharing" cButton color="primary">
                                                                    <span *ngIf="!isSharing">Share Template</span>
                                                                    <span *ngIf="isSharing">
                                                                        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>Sharing...
                                                                    </span>
                                                                </button>

                                                            </c-modal-footer>

                                                        </c-modal>


                                                        <!-- Logo Section -->
                                                        <div class="d-flex justify-content-center">
                                                            <div style="width: 50px; height: 60px; background-color: white; border-radius: 5px;">
                                                                <img *ngIf="temp.logo && temp.logo.length" [src]="temp.logo[0].url" style="width: 100%; height: 100%; object-fit: cover; border: 1px solid white; " />
                                                            </div>
                                                        </div>

                                                        <!-- Title Section -->
                                                        <div class="bg-white text-center mt-3 p-2" [ngStyle]="{
                                                          'color': temp.titleFontColor,
                                                          'font-family': temp.titleFontFamily,
                                                          'font-weight': temp.titleisBold ? 'bold' : 'normal',
                                                          'font-style': temp.titleisItalic ? 'italic' : 'normal',
                                                          'font-size.px': 14,
                                                        }">
                                                            {{ stripAndTruncateHtml(temp.titleHtml) }}
                                                        </div>

                                                        <!-- Description Section -->
                                                        <div class="bg-white text-center mt-2 p-3" style="min-height: 80px;" [ngStyle]="{ 'color': temp.desFontColor, 'font-size.px': 14 }">{{ stripAndTruncateHtml(temp.descHtml) }}</div>


                                                    </div>

                                                </div>


                                                <!-- No Templates Message -->
                                                <div *ngIf="allTemplates?.length === 0" class="text-danger text-center my-2">
                                                    No Templates Added
                                                </div>

                                            </div>
                                        </c-card-body>

                                    </c-card>

                                    <!-- Second card -->
                                    <c-card class="my-3">
                                        <c-card-header class="fw-bold">Design Template</c-card-header>

                                        <c-card-body class="d-flex align-items-center justify-content-between flex-wrap">

                                            <!-- Logo -->
                                            <c-card class="w-100 mb-3">
                                                <c-card-body class="text-center">
                                                    <label for="file" class="form-label fw-semibold">Upload Logo</label>
                                                    <input type="file" id="file" class="form-control w-auto d-inline-block ms-2" (change)="onLogoSelected($event)" accept="image/*" />
                                                </c-card-body>
                                            </c-card>

                                            <!-- Color Button -->
                                            <div class="text-center mx-2">
                                                <button class="btn p-0 border rounded" [style.backgroundColor]="selectedFontColor" (click)="colorInput.click()" style="width: 40px; height: 40px;"></button>

                                                <input type="color" [(ngModel)]="selectedFontColor" #colorInput style="display: none;" />
                                                <small class="d-block mt-1">Color</small>

                                            </div>

                                            <!-- Font Button -->
                                            <div class="text-center mx-2">
                                                <select class="form-select" (change)="setFont($event)">
                                                    <option *ngFor="let font of googleFonts" [value]="font.css" [selected]="selectedFont === font.css">{{ font.name }}</option>
                                                </select>
                                                <small class="d-block mt-1">Font</small>
                                            </div>



                                            <!-- Bold Button -->
                                            <div class="text-center mx-2">
                                                <button class="btn p-0 border-0" (click)="toggleBold()">
                                                    <span class="fw-bold fs-5">AB</span>
                                                </button>
                                                <small class="d-block mt-1">Bold</small>
                                            </div>

                                            <!-- Italic Button -->
                                            <div class="text-center mx-2">
                                                <button class="btn p-0 border-0" (click)="toggleItalic()">
                                                    <span class="fst-italic fs-5">AB</span>
                                                </button>
                                                <small class="d-block mt-1">Italic</small>
                                            </div>

                                            <!-- Size Buttons -->
                                            <div class="text-center mx-2">
                                                <div class="d-flex flex-column align-items-center border rounded px-2 py-1">
                                                    <button class="btn btn-sm p-0" (click)="increaseFontSize()">
                                                        <span style="font-size: 16px;">▲</span>
                                                    </button>

                                                    <span style="line-height: 1;">{{ fontSize }}</span>

                                                    <button class="btn btn-sm p-0" (click)="decreaseFontSize()">
                                                        <span style="font-size: 16px;">▼</span>
                                                    </button>
                                                </div>
                                                <small class="d-block mt-1">Size</small>
                                            </div>

                                        </c-card-body>
                                    </c-card>

                                    <!-- Third card -->
                                    <div class="d-flex gap-3 flex-wrap">

                                        <!-- First Card -->
                                        <c-card class="p-3" style="flex: 1;">
                                            <c-card-body class="d-flex justify-content-start align-items-center gap-4">

                                                <!-- Text Field Label -->
                                                <div class="text-center">
                                                    <span>Text Field</span>
                                                </div>

                                                <!-- Text Color Picker (Live Preview) -->
                                                <div class="text-center">
                                                    <button class="btn p-0 border rounded" (click)="textColorInput.click()" [style.backgroundColor]="selectedTextColor" style="width: 40px; height: 40px;"></button>

                                                    <input type="color" #textColorInput [(ngModel)]="selectedTextColor" style="display: none;" />
                                                    <small class="d-block mt-1">Text Color</small>
                                                </div>

                                            </c-card-body>
                                        </c-card>

                                        <!-- Second Card -->
                                        <c-card class="p-3" style="flex: 1;">
                                            <c-card-body class="d-flex justify-content-start align-items-center gap-4">

                                                <!-- Background Label -->
                                                <div class="text-center">
                                                    <span>Background</span>
                                                </div>

                                                <!-- Color Picker Button -->
                                                <div class="text-center">
                                                    <button class="btn p-0 border rounded" (click)="bgColorInput.click()" [style.backgroundColor]="backgroundColor" style="width: 40px; height: 40px;"></button>

                                                    <input type="color" #bgColorInput [(ngModel)]="backgroundColor" style="display: none;" />
                                                    <small class="d-block mt-1">Background Color</small>
                                                </div>
                                            </c-card-body>
                                        </c-card>

                                    </div>

                                </c-card-body>
                            </c-card>
                        </div>

                        <!-- Second Section -->
                        <div class="col-md-5">

                            <!-- Main card -->
                            <c-card>
                                <c-card-header class="text-center">Current Template Preview</c-card-header>
                                <c-card-body class="bg-purple text-dark" [ngStyle]="{ 'background-color': backgroundColor }" style="min-height: 500px; padding: 1rem;">
                                    <div #previewContainer>

                                        <!-- Logo live Preview -->
                                        <div class="mx-auto mb-3 top-white-box" style="width: 150px; height: 180px; background-color: white;">
                                            <img *ngIf="logoDataUrl" [src]="logoDataUrl" alt="Logo" style="border: 1px solid white; width: 100%; height: 100%; object-fit: cover;" />
                                        </div>

                                        <!-- Title -->
                                        <div class="bg-white py-2 mb-2 text-center" contenteditable="true" #titleContent 
                                            [ngStyle]="{
                                                'color': selectedFontColor,
                                                'font-family': selectedFont,
                                                'font-weight': isBold ? 'bold' : 'normal',
                                                'font-style': isItalic ? 'italic' : 'normal',
                                                'font-size.px': fontSize
                                            }">
                                            {{ titleText }}
                                        </div>


                                        <!-- Description -->
                                        <div class="bg-white py-3 mb-3 ps-3 text-start" style="min-height: 345px;" contenteditable="true" #descContent [ngStyle]="{ 'color': selectedTextColor, }">
                                            {{ descText }}
                                        </div>

                                    </div>

                                </c-card-body>

                            </c-card>

                        </div>

                    </div>

                </c-modal-body>

                <c-modal-footer>
                    <button (click)="toggleAddTemplateDemo()" cButton color="secondary">Close</button>
                    <button (click)="saveTemplate()" cButton color="primary">Save</button>
                </c-modal-footer>
            </c-modal>

            <!-- Body section -->
            <c-card-body class="py-3 px-2">
                <div class="row">

                    <!-- Show categories Section -->
                    <div class="col-md-4">
                        <c-card>
                            <c-card-body class="text-center">
                                <h6>View Category</h6>
                                <c-row>
                                    <c-col [sm]="12">
                                        <c-card class="my-3">
                                            <c-card-body>
                                                <div
                                                    style="display: flex !important; justify-content: center; flex-direction: column;">

                                                    <!-- Dropdown for All Categories -->
                                                    <select aria-label="Default select example" cSelect class="form-select my-2 rounded-pill text-dark text-center" [(ngModel)]="selectedCategoryId">
                                                        <option value="" disabled selected>Select a category</option>
                                                        <option *ngFor="let category of allCategories" [value]="category._id">Customer 
                                                            <span>{{ category.categoryName.charAt(0).toUpperCase() + category.categoryName.slice(1) }}</span>
                                                        </option>
                                                    </select>
                                                </div>
                                            </c-card-body>
                                        </c-card>
                                    </c-col>

                                    <!-- Add Template Button -->
                                    <div>
                                        <button cButton (click)="toggleAddTemplateDemo()">Add New Template</button>
                                    </div>

                                </c-row>
                            </c-card-body>
                        </c-card>
                    </div>

                    <!-- Show Template Section -->
                    <div class="col-md-8">
                        <c-row>
                            <c-col [sm]="12">
                                <c-card>
                                    <c-card-body>

                                        <!-- Header Carousel -->
                                        <c-col [sm]="12" class="pb-4">
                                            <c-card>
                                                <c-card-body class="bg-secondary rounded">

                                                    <!-- Carousel Section -->
                                                    <c-carousel [animate]="false" transition="crossfade">

                                                        <!-- Carousel Pre Button -->
                                                        <c-carousel-control [routerLink] caption="Previous" direction="prev">
                                                            
                                                            <div class="d-flex ps-5">
                                                                <div class="text-nowrap me-1">
                                                                    Template Library
                                                                </div>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                                                                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                                                                </svg>
                                                            </div>

                                                        </c-carousel-control>

                                                        <!-- Carousel Body -->
                                                        <c-carousel-inner>
                                                            <c-carousel-item *ngFor="let slide of slides" class="text-center">
                                                                <!-- <img [src]="slide.src" alt="{{slide.title}}"
                                                                    class="d-block w-10" loading="lazy"> -->
                                                                <div>{{slide.title}}</div>
                                                            </c-carousel-item>
                                                        </c-carousel-inner>

                                                        <!-- Carousel Next Button -->
                                                        <c-carousel-control [routerLink] caption="Next" direction="next" class="color-black">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                                                            </svg>1/30
                                                        </c-carousel-control>

                                                    </c-carousel>
                                                </c-card-body>
                                            </c-card>
                                        </c-col>

                                        <!-- Template Section -->
                                        <c-col [sm]="12">
                                            <c-card>
                                                <c-card-body>

                                                    <!-- Second Carousel Section -->
                                                    <c-carousel [animate]="false" transition="crossfade">

                                                        <c-row>

                                                            <!-- Carousel Pre Button -->
                                                            <c-carousel-control [routerLink] caption="Previous" direction="prev">
                                                                <div class="d-flex justify-content-center align-items-center h-100">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="black" class="bi bi-caret-left-fill" viewBox="0 0 16 16" style="cursor: pointer;">
                                                                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                                                                    </svg>
                                                                </div>
                                                            </c-carousel-control>

                                                            <!-- Template Body Section -->
                                                            <c-carousel-inner>
                                                                <c-carousel-item *ngFor="let TempSlide of layoutTemplateSlides" class="text-center">
                                                                    <c-col [sm]="6" class="mx-auto">
                                                                      
                                                                        <div class="d-flex justify-content-between pb-3">
                                                                            <div>{{ TempSlide.title }}</div>
                                                                            <div>{{ TempSlide.subtitle }}</div>
                                                                        </div>

                                                                        <c-card>
                                                                            <c-card-body>
                                                                                <c-row>
                                                                                    <c-col [sm]="6">
                                                                                        <c-card>
                                                                                            <c-card-body style="height: 80px;">
                                                                                                <h6 cCardTitle>Company Logo</h6>
                                                                                            </c-card-body>
                                                                                        </c-card>
                                                                                    </c-col>
                                                                                    <c-col [sm]="6">
                                                                                        <c-card>
                                                                                            <c-card-body>
                                                                                                <h6 cCardTitle>Employee Picture</h6>
                                                                                            </c-card-body>
                                                                                        </c-card>
                                                                                    </c-col>
                                                                                </c-row>
                                                                                <c-row class="my-1">
                                                                                    <c-col [sm]="12">
                                                                                        <c-card>
                                                                                            <c-card-body
                                                                                                class="text-center">
                                                                                                <h5 cCardText>
                                                                                                    We are 15
                                                                                                    Minutes away!!
                                                                                                </h5>
                                                                                            </c-card-body>
                                                                                        </c-card>
                                                                                    </c-col>
                                                                                </c-row>
                                                                                <c-row>
                                                                                    <c-col [sm]="12">
                                                                                        <c-card>
                                                                                            <c-card-body
                                                                                                class="text-start">
                                                                                                <h6 cCardText>
                                                                                                    Client Name
                                                                                                </h6>
                                                                                                <p cCardText>
                                                                                                    We are just 15
                                                                                                    minutes away
                                                                                                    from making your
                                                                                                    home carpets
                                                                                                    dazzle your
                                                                                                    guests.
                                                                                                </p>
                                                                                            </c-card-body>
                                                                                        </c-card>
                                                                                    </c-col>
                                                                                </c-row>
                                                                                <c-row>
                                                                                    <c-col [sm]="12">
                                                                                        <div
                                                                                            class="d-flex justify-content-center pt-3">
                                                                                            <button cButton
                                                                                                color="primary"
                                                                                                size="sm"
                                                                                                shape="rounded-pill"
                                                                                                class="me-3 px-4">OK!</button>
                                                                                            <button cButton size="sm"
                                                                                                shape="rounded-pill"
                                                                                                color="primary"
                                                                                                class="px-4">Call</button>
                                                                                        </div>
                                                                                    </c-col>
                                                                                </c-row>
                                                                            </c-card-body>
                                                                        </c-card>
                                                                    </c-col>
                                                                </c-carousel-item>
                                                            </c-carousel-inner>


                                                            <!-- Carousel Next Button -->
                                                            <c-carousel-control [routerLink] caption="Next" direction="next">
                                                                <svg style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="black" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                                                                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                                                                </svg>
                                                            </c-carousel-control>


                                                            <!-- save / update Button -->
                                                            <c-col [sm]="3"></c-col>
                                                            <c-col [sm]="6">
                                                                <div class="mt-3 d-flex justify-content-center">
                                                                    <button cButton class="me-3">Save</button>
                                                                    <button cButton color="secondary">Update</button>
                                                                </div>
                                                            </c-col>
                                                            <c-col [sm]="3"></c-col>

                                                        </c-row>
                                                    </c-carousel>

                                                </c-card-body>
                                            </c-card>
                                        </c-col>

                                    </c-card-body>
                                </c-card>
                            </c-col>
                        </c-row>
                    </div>

                </div>
            </c-card-body>

        </c-card>
    </c-col>
</c-row>